body,html{
    width: 100%;
    height: 100%;
    margin:0;
    /* background: linear-gradient(to left,white,rgba(6, 211, 6, 0.918));*/
}

/******************header*************************/
header{
    display: flex;
    justify-content: flex-end;
}
ul{
    list-style: none;
    display: flex;


}
li{
    font-size: 1.2em;
    font-weight: 500;
    padding:10px 20px;
    text-decoration: underline;


}
.right-item{
    margin-left: auto;
}
a:hover{
    cursor: pointer;
    color:green;

}


/***************Form*************************/
.container{
    height: 100%;
    padding: 20px;
    display:flex;
    /* flex-wrap: nowrap; */
    justify-content: center;
    /*align-items: center; /*works without the need of wrap */

}


/* it's not responsive !!!!!!!!!*/
form{
    background-color: rgb(0, 0, 0);
    width: 60vh;
    height: 40vh;
    padding: 40px;
    border-radius: 30px;
    margin:40px;


}
#u_g_9_gZ{
    position: absolute;
    margin:0vh 0vh 0vh 55vh;
}
#u_g_9_gZ:hover{
    cursor: pointer;
}
h1{
    font-size: 25px;
    color:white;
    margin:0vh 2vh 5vh;

}

input{
    width:50vh;
    padding: 2vh;
    margin:2vh;
    border-style: none;
    font-size: 15px;
    border-radius: 30px;


}
.short-input{
    width:20.5vh;
}
.btn1{
    background-color:rgba(6, 211, 6, 0.918);
    color:white;
    border-style: none;
    border-radius:20px;
    font-size:1em;
    font-weight: 500;
    padding:10px 20px;


}
.cen-btn{
    margin:0vh 42vh 0vh;
}
.btn1:hover{
    background-color:rgba(0, 255, 0, 0.918);
    cursor:pointer;
}

