body,html{
    width: 100%;
    height: 100%;
    margin:0;
    /* background: linear-gradient(to left,white,rgba(6, 211, 6, 0.918));*/
}

/******************header*************************/
header{
    display: flex;
    justify-content: flex-end;
}
ul{
    list-style: none;
    display: flex;


}
li{
    font-size: 1.2em;
    font-weight: 500;
    padding:10px 20px;
    text-decoration: underline;


}
.right-item{
    margin-left: auto;
}
a:hover{
    cursor: pointer;
    color:green;

}

/***************Form*************************/
.container{
    height: 100%;
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; /*works without the need of wrap*/

}

/* it's not responsive !!!!!!!!!*/
form{
    background-color: rgb(0, 0, 0);
    width: 60vh;
    height: 60vh;
    padding: 40px;
    border-radius: 30px;


}
#u_g_9_gZ{
    position: absolute;
    margin:0 0 0 55vh;
}
#u_g_9_gZ:hover{
    cursor: pointer;
}
h1{
    font-size: 25px;
    color:white;
    margin:0 2vh 5vh;

}

input{
    width:50vh;
    padding: 2vh;
    margin:2vh;
    border-style: none;
    font-size: 15px;
    border-radius: 30px;


}
input:after{

}
.short-input{
    width:20.5vh;
}
label{
    color:rgb(235, 128, 6);
    font-size:  1.2rem;
}

.btn1{
    background-color:rgba(6, 211, 6, 0.918);
    color:white;
    border-style: none;
    border-radius:20px;
    font-size:1em;
    font-weight: 500;
    padding:10px 20px;


}
.cen-btn{
    margin:0 42vh 0;
}
.btn1:hover{
    background-color:rgba(0, 255, 0, 0.918);
    cursor:pointer;
}

#listInput{
    width:20px;
}
/****************** animation*****************************/

.animation-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    width:50px;

}

.obj1{
    left: 20%;
    animation: osc-l 2.5s ease infinite;
}