<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/contactUs.css" rel="stylesheet">
    <title>Contact Us</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <a class="nav-bar"href="/index.html"><li  class="right-item" >Home</li></a> <!--login -->
            <a class="nav-bar" href="/register"><li>Register</li></a>
        </ul>
    </nav>
</header><br>

<section>
    <div class="center">
        <input class="size" type="text" placeholder="Enter your feedback here!">
    </div>

    <div class="center">
        <input class="size2" type="text" placeholder="Enter your Email here for contact!">
    </div>


    <div class="center">
        <button type="button" class="btn1"> Submit</button>
    </div>
</section>
</body>
</html>