<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="shotrcut icon" type="img/png" href="/picture/rabbit.png">
    <script th:src="@{/js/script.js}" defer="defer"></script>
</head>
<body>
<header>
    <h1></h1>
    <nav>
        <ul>
            <a href="/index.html"><li class="right-item">Home</li></a>
            <a href="/login"><li>Login</li></a>
            <a href="/contactUs"><li>Contact us</li></a>
        </ul>
    </nav>
</header>
<div class="container">
    <form id="form" method="post" action="/register" th:object="${registerRequest}"> <!-- when we submit this form it got stored in the registerRequest object or attribute-->

        <h1>Sign up </h1>
        <label>
            <input  type="text" name="login" placeholder="user_name" required>
        </label><br>
        <label>
            <input type="email" name="email" placeholder="Email" required>
        </label>
        <label for="password"></label><input type="password" name="password" id="password" placeholder="Password" required>
        <label for="confirm-password"></label><input type="password" id="confirm-password" placeholder="Confirm Password" required>
        <span class="cen-btn">
                <button type="submit" class="btn1">Sign up</button>
                </span>
        <!--  <input type="checkbox"><span class="remeber-me">remeber me</span>    -->
    </form>
</div>
<div class="animation-bg">
    <div class="obj1"></div>
    <div class="obj2"></div>
</div>
</body>
</html>